<div class="sfx-links" ng-repeat="(targetFacility, normalizedTargets) in $ctrl.targets">
  <p class="fulltext-item sfx-links-facility">
      <span translate="nui.customizing.idslu.sfxlinks.campusnet"></span> 
      <span ng-bind-html="targetFacility"></span>
  </p>
  <div ng-repeat="target in normalizedTargets">    
    <p class="fulltext-item sfx-links-target">
      <span translate="nui.customizing.idslu.sfxlinks.fulltext_through"></span>
      <a href="{{target.target_url_proxy}}" target="_blank">
          <span ng-bind-html="(target.target_name | translate)"></span>
      </a>        

      <span ng-if="$ctrl.valueExistsForObjectPath(target, 'coverage.coverage')">
        <span ng-if="$ctrl.valueExistsForObjectPath(target, 'coverage.coverage')">
          <span style='font-weight: bold' translate="nui.customizing.idslu.sfxlinks.coverage"></span>
          <span translate="nui.customizing.idslu.sfxlinks.coverage.available"></span>
          <span ng-if='$ctrl.valueExistsForObjectPath(target, 'coverage.coverage.year.from')></span>
            <span translate="nui.customizing.idslu.sfxlinks.coverage.from"></span>
            <span>{{target.coverage.coverage.year.from}}</span>
          </span>
          <span ng-if="$ctrl.valueExistsForObjectPath(target, 'coverage.coverage.year.to')">
            <span translate="nui.customizing.idslu.sfxlinks.coverage.to"></span>          
            <span>{{target.coverage.coverage.year.to}}</span>        
          </span>
        </span>
        <span ng-if="!$ctrl.valueExistsForObjectPath(target, 'coverage.coverage')">
         {{target.coverage.coverage.statement}}
        </span>

        <span ng-if="$ctrl.valueExistsForObjectPath(target, 'coverage.embargo')">
            <span style='font-weight: bold' translate="nui.customizing.idslu.sfxlinks.embargo"></span>
            <span translate="nui.customizing.idslu.sfxlinks.embargo.{{target.coverage.embargo.availability.status}}"></span>
            <span>{{target.coverage.embargo.availability.value}}</span>
            <span translate="nui.customizing.idslu.sfxlinks.embargo.{{target.coverage.embargo.availability.unit}}"></span>
        </span>
      </span>      
    </p>
    
  </div>
</div>

<p class="fulltext-item sfx-links-on-campus">
  <span translate="nui.customizing.idslu.sfxlinks.on_campus"></span>
  <span class="sfx-links-on-campus-url">
        <a href="http://www.zhbluzern.ch/index.php?id=3992" target="_blank">
        <span translate="nui.customizing.idslu.sfxlinks.external_campus_access"></span>
  </a>
  </span>

  <zbl-link class="idslu-ehelp" url="{{('nui.customizing.idslu.ehelpurl' | translate)}}" text="{{('nui.customizing.idslu.ehelptext' | translate)}}"></zbl-link>
  <zbl-link class="idslu-feedback" url="{{('nui.customizing.idslu.feedbackurl' | translate)}}" text="{{('nui.customizing.idslu.feedbacktext' | translate)}}"></zbl-link>
</p>
